@font-face {
  font-family: "EF_jejudoldam";
  src: url("./fonts/EF_jejudoldam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
}

.poster {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}

.bg-image {
  z-index: 2;
  position: absolute;

  top: 0;
  left: 0;

  width: 1920px;
  height: 1080px;

  object-fit: cover;
}
.logo {
  z-index: 10;
  position: absolute;

  left: 474px;
  top: 31px;

  height: 150px;

  filter: drop-shadow(8px 8px 12px rgba(0, 0, 0, 0.35));
}
.blur-circle {
  z-index: 3;
  position: absolute;

  left: 194px;
  top: -181px;

  width: 1532px;
  height: auto;

  pointer-events: none;

  filter: blur(0px);
}
.collection-text {
  position: absolute;
  z-index: 4;

  left: 160px;
  top: 60px;

  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 36px;
  font-weight: 600;

  color: #140741;
  letter-spacing: 1px;
}
.city-text {
  position: absolute;
  z-index: 4;

  left: 260px;
  top: 114px;

  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 36px;
  font-weight: 600;

  color: #140741;

  letter-spacing: 1px;
}
.info-text {
  position: absolute;
  z-index: 4;
  left: 1250px;
  top: 63px;
  font-family: "AppleSDGothicNeoEB00", sans-serif;
  font-size: 32px;
  font-weight: 600;

  color: #140741;

  letter-spacing: 1px;
  line-height: 54px;
}
.coyseio-info {
  position: absolute;
  left: 30px;
  bottom: 30px;

  font-family: "AppleSDGothicNeoM00", sans-serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 1.5px;
  color: #140741;

  text-align: left;
  z-index: 50;

  opacity: 0;
  transition: opacity 1s ease;
}

.coyseio-info.show {
  opacity: 1;
}
.puzzle-1 {
  position: absolute;
  z-index: 2;
  left: -220px;
  top: 348px;

  width: 666px;
  height: 716px;
  object-fit: cover;

  transform: rotate(16deg);

  filter: blur(50px);

  pointer-events: none;
}
.puzzle-2 {
  position: absolute;
  z-index: 2;
  left: 848px;
  top: -229px;

  width: 605px;
  height: 1036px;
  object-fit: cover;

  transform: rotate(-15deg);

  filter: blur(50px);
  pointer-events: none;
}
.puzzle-3 {
  position: absolute;

  left: 1243px;
  top: 539px;

  width: 821px;
  height: 1090px;
  object-fit: cover;

  transform: rotate(15deg);

  filter: blur(100px);
  pointer-events: none;

  z-index: 2;
}
.puzzle-11 {
  position: absolute;
  z-index: 2;
  left: -300px;
  top: 450px;

  width: 666px;
  height: 716px;
  object-fit: cover;

  transform: rotate(16deg);

  pointer-events: none;
}
.puzzle-22 {
  position: absolute;
  z-index: 2;
  left: 750px;
  top: -229px;

  width: 605px;
  height: 1036px;
  object-fit: cover;

  transform: rotate(-15deg);

  pointer-events: none;
}
.puzzle-33 {
  position: absolute;

  left: 1243px;
  top: 539px;

  width: 821px;
  height: 1090px;
  object-fit: cover;

  transform: rotate(15deg);

  pointer-events: none;

  z-index: 2;
}
.model-image {
  position: absolute;
  left: 815px;
  bottom: -5px;
  height: 886;
  width: auto;

  z-index: 5;
}
.hat-item {
  position: absolute;
  left: 150px;
  top: 195px;
  width: 155px;
  height: auto;
  z-index: 10;
}

.hat-img {
  display: block;
  width: 147px;
  height: auto;
  transform: rotate(-27deg);
  transition: transform 0.3s;
}

.hat-item:hover .hat-img {
  transform: rotate(0deg) scale(1.5);
}

.hat-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);

  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;

  z-index: 20;
}

.hat-item:hover .hat-label {
  opacity: 1;
}

.hat-title {
  margin: 0;
  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 38px;
  line-height: 45px;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;
}

.hat-price {
  margin: 0;
  margin-top: 4px;
  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;
}
.skirt-item {
  position: absolute;
  left: 110px;
  top: 378px;
  z-index: 10;
}

.skirt-img {
  width: 320px;
  height: auto;
  display: block;
  transform: rotate(0deg);
  transition: transform 0.3s;
  filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 30));
}

.skirt-item:hover .skirt-img {
  transform: rotate(0deg) scale(1.5);
}

.skirt-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;

  opacity: 0;
  transition: opacity 0.3s;

  z-index: 20;
}

.skirt-item:hover .skirt-label {
  opacity: 1;
}

.skirt-title {
  margin: 0;
  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 38px;
  line-height: 45px;
  color: #ffffff;

  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;

  white-space: nowrap;
}

.skirt-price {
  margin: 0;
  margin-top: 4px;
  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;

  -webkit-text-stroke: 1px #000000;
}

.jacket-item {
  position: absolute;
  left: 445px;
  top: 190px;
  z-index: 10;
}

.jacket-img {
  display: block;

  transform: rotate(15deg);
  transition: transform 0.3s;
  filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 25));
}

.jacket-item:hover .jacket-img {
  transform: rotate(0deg) scale(1.5);
}

.jacket-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;

  opacity: 0;
  transition: opacity 0.3s;

  z-index: 20;
}

.jacket-item:hover .jacket-label {
  opacity: 1;
}

.jacket-title {
  margin: 0;
  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 38px;
  line-height: 45px;
  color: #ffffff;

  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;

  white-space: nowrap;
}

.jacket-price {
  margin: 0;
  margin-top: 4px;
  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;

  -webkit-text-stroke: 1px #000000;

  white-space: nowrap;
}
.pants-item {
  position: absolute;
  left: 480px;
  top: 530px;
  z-index: 10;
}

.pants-img {
  display: block;

  transform: rotate(-15deg);
  transition: transform 0.3s;
  filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.25));
}

.pants-item:hover .pants-img {
  transform: rotate(0deg) scale(1.5);
}

.pants-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  opacity: 0;
  transition: opacity 0.3s;
  z-index: 20;
}

.pants-item:hover .pants-label {
  opacity: 1;
}

.pants-title {
  margin: 0;
  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 38px;
  line-height: 45px;
  color: #ffffff;

  -webkit-text-stroke: 1px #000000;

  white-space: nowrap;
}

.pants-price {
  margin: 0;
  margin-top: 4px;
  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;

  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;
  white-space: nowrap;
}
.shoes-item {
  position: absolute;
  left: 210px;
  top: 700px;
  z-index: 10;
}

.shoes-img {
  display: block;
  width: 180;
  height: auto;

  transform: rotate(-40deg);
  transition: transform 0.3s;
  filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.25));
}

.shoes-item:hover .shoes-img {
  transform: rotate(0deg) scale(1.5);
}

.shoes-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  opacity: 0;
  transition: opacity 0.3s;
  z-index: 20;
}

.shoes-item:hover .shoes-label {
  opacity: 1;
}

.shoes-title {
  margin: 0;
  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 38px;
  line-height: 45px;
  color: #ffffff;

  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;
  white-space: nowrap;
}

.shoes-price {
  margin: 0;
  margin-top: 4px;
  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;

  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;
}
.stocking-item {
  position: absolute;
  left: 1080px;
  top: 205px;
  z-index: 10;
}

.stocking-img {
  display: block;

  transform: rotate(-15deg);
  transition: transform 0.3s;
  filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.25));
}

.stocking-item:hover .stocking-img {
  transform: rotate(0deg) scale(1.5);
}

.stocking-label {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  opacity: 0;
  transition: opacity 0.3s;
  z-index: 20;
}

.stocking-item:hover .stocking-label {
  opacity: 1;
}

.stocking-title {
  margin: 0;
  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 38px;
  line-height: 45px;
  color: #ffffff;

  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;

  white-space: nowrap;
}

.stocking-price {
  margin: 0;
  margin-top: 4px;
  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;

  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;
  white-space: nowrap;
}
.shoes2-item {
  position: absolute;
  left: 1300px;
  top: 186px;
  z-index: 15;
}

.shoes2-img {
  display: block;

  transform: rotate(0deg);
  transition: transform 0.3s;
  filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.25));
}

.shoes2-item:hover .shoes2-img {
  transform: rotate(0deg) scale(1.5);
  z-index: 30;
}

.shoes2-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  opacity: 0;
  transition: opacity 0.3s;
  z-index: 20;
}

.shoes2-item:hover .shoes2-label {
  opacity: 1;
}

.shoes2-title {
  margin: 0;
  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 38px;
  line-height: 45px;
  color: #ffffff;

  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;

  white-space: nowrap;
}

.shoes2-price {
  margin: 0;
  margin-top: 4px;
  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;

  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;
  white-space: nowrap;
}
.beanie-item {
  position: absolute;
  left: 1280px;
  top: 400px;
  z-index: 15;
}

.beanie-img {
  display: block;

  transform: rotate(0deg);
  transition: transform 0.3s;
  filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.25));
}

.beanie-item:hover .beanie-img {
  transform: rotate(0deg) scale(1.5);
}

.beanie-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  opacity: 0;
  transition: opacity 0.3s;
  z-index: 20;
}

.beanie-item:hover .beanie-label {
  opacity: 1;
}

.beanie-title {
  margin: 0;
  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 38px;
  line-height: 45px;
  color: #ffffff;

  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;

  white-space: nowrap;
}

.beanie-price {
  margin: 0;
  margin-top: 4px;
  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;

  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;
  white-space: nowrap;
}
.knit-skirt-item {
  position: absolute;
  left: 1475px;
  top: 180px;

  z-index: 10;
}

.knit-skirt-img {
  display: block;
  width: 400px;
  height: auto;

  transform: rotate(-15deg);
  transition: transform 0.3s;
  filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.25));
}

.knit-skirt-item:hover .knit-skirt-img {
  transform: rotate(0deg) scale(1.5);
  z-index: 30;
}

.knit-skirt-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  opacity: 0;
  transition: opacity 0.3s;
  z-index: 20;
}

.knit-skirt-item:hover .knit-skirt-label {
  opacity: 1;
}

.knit-skirt-title {
  margin: 0;
  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 38px;
  line-height: 45px;

  color: #ffffff;
  -webkit-text-stroke: 1px #000000;

  white-space: nowrap;
}

.knit-skirt-price {
  margin: 0;
  margin-top: 4px;

  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 20px;
  line-height: 30px;

  color: #ffffff;
  -webkit-text-stroke: 1px #000000;

  white-space: nowrap;
}
.blush-ls-item {
  position: absolute;
  left: 1340px;
  top: 500px;
  z-index: 10;
}

.blush-ls-img {
  display: block;

  transform: rotate(15deg);
  transition: transform 0.3s;
  filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.25));
}

.blush-ls-item:hover .blush-ls-img {
  transform: rotate(0deg) scale(1.5);
}

.blush-ls-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  opacity: 0;
  transition: opacity 0.3s;
  z-index: 20;
}

.blush-ls-item:hover .blush-ls-label {
  opacity: 1;
}

.blush-ls-title {
  margin: 0;
  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 38px;
  line-height: 45px;

  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;

  white-space: nowrap;
}

.blush-ls-price {
  margin: 0;
  margin-top: 4px;

  font-family: "AppleSDGothicNeoH00", sans-serif;
  font-size: 20px;
  line-height: 30px;

  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;

  white-space: nowrap;
}
.city-fall {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1280px;
  z-index: 8;
  pointer-events: none;
}

.city-letter {
  position: absolute;
  top: -200px;
  left: 0;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

  font-family: "EF_jejudoldam", sans-serif;
  font-size: 140px;
  font-weight: 700;
  color: #b9d6eb;
  opacity: 0;
  --rotate: 0deg;
  animation: letterFall 1.2s ease-out forwards;
  letter-spacing: 20px;
  word-spacing: 120px;
}

@keyframes letterFall {
  0% {
    top: -200px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    top: 910px;
    opacity: 1;
    transform: rotate(0deg);
  }
}
.city-puzzle {
  position: absolute;
  left: 330px;
  top: -200px;
  filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.25));
  width: 120px;
  opacity: 0;
  z-index: 8;

  animation: puzzleFall 0.8s ease-out forwards;
}

@keyframes puzzleFall {
  0% {
    top: -200px;
    opacity: 0;
    transform: rotate(-10deg);
  }
  60% {
    top: 880px;
    opacity: 1;
  }
  100% {
    top: 930px;
    opacity: 1;
    transform: rotate(0deg);
  }
}
body {
  cursor: url("../img/star.png") 5 5, auto !important;
}
